.about-content {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Poppins';
  background-color: beige;
    
    }

    .about-content .title {
      font-weight: 600;

    }
    .about-content .title2 {
      color: black;
      text-align: center;
      font-size: xx-large;
    }
    .span {
      color:  rgb(255, 140, 0);
    }
    p {
     font-weight: 600;
     font-size: large;
     text-align: center;
    }
    .orange {
      color:  rgb(255, 140, 0);
    }