.catalog {
  height: auto;
  width:fit-content;
  display:flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Poppins';
  background-color: beige;
}

.catalog .title {
  font-size: 42px;
  text-align: center;
}

.catalogView {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  gap: 40px;
}

.dog {
  width: 100%; 
  max-width: 500px; 
  margin: 20px; 
  background-color: rgb(255, 255, 255);
  outline: auto;
  outline-style: solid;
  outline-color: grey;
  text-align: center;
  
}

.dog img {
  width: 100%;
  height: 200px; 
  object-fit: cover;
  
}
.title {
  color: black;
}

.dog h1 {
  text-align: center;
}
.spanColor {
  color: orange;
}
.dogColor {
  color: orange;
}

@media (max-width: 768px) {
  .dog img {
    height: 150px; 
  }
}

@media (max-width: 480px) {
  .dog img {
    height: 250px; 
  }
}


@media (max-width: 768px) {
  .catalogView {
    grid-template-columns: 1fr; 
  }

  .dog {
    max-width: 100%; 
    margin: 10px;
  }

  .catalog .title {
    font-size: 28px; 

  }
}
