.content {
font-family: 'Poppins';
justify-content: center; 
margin-top: 10rem;
text-align: center;

}
.content .h22{
   margin-top: 2rem;  

}
.span1 {
    color: orange;
}
.btn1 {
    color: rgb(255, 255, 255);
    font-size: medium;
    margin-top: 3rem;
    font-weight: bold;
    background-color: orange;
    align-self: center; 
    
    } 
    .btn1:hover {
        background-color: rgb(240, 240, 240);
        color: rgb(0, 0, 0);
        border-color: white;
    }
    .content .img {
     margin-bottom: -1.5rem;
     
    }
