.content { 
font-family: 'Poppins';
text-align: center;
padding: 12.5rem;
color: rgb(34, 34, 34);

}
.content .h22{
   margin-top: -1rem;  
   

}
.span1 {
    color: rgb(255, 162, 0);
}
    
     .content .img {
     margin-bottom: -1.5rem;
     
    }
