.content {
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins';
    background-color: beige;
    text-align: center;
    @media (min-width: 768px) {
        padding: 5%; 
        font-size: 1rem;
    }
}
.spanC {
    color: rgb(255, 140, 0);
}

.span1 {
    color: rgb(255, 140, 0);
}

.content .img {
    margin-bottom: -1rem; 
    height: 60px;
    width: 55px;
    padding-right: 0.5rem;
}

@media (max-width: 768px) {
    .content {
        padding: 50%; 
        font-size: 1rem; 
    }
}
